body {
  font-family: Arial, sans-serif;
  background-color: $secondary-color;
  color: $text-color;
  @include flex-center;
  height: 100vh;
}
.login-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $padding;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
body {
  font-family: Arial, sans-serif;
  background-color: $secondary-color;
  background-image: url('1.jpg'); /* Add the background image here */
  background-size: cover; /* Ensures the image covers the whole screen */
  background-position: center center; /* Centers the background image */
  color: $text-color;
  @include flex-center;
  height: 100vh;
}
:root {
  --main-color: #{$primary-color};
}
